<live-state url="<%= @url %>" topic="people">
  <template>
    Showing {{pagination.start}} to {{pagination.end}}
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template type="repeat" repeat="{{people}}">
          <tr>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td><button @click={{send('edit')}} data-person-id={{item.id}}>Edit</button></td>
          </tr>
        </template>
      </tbody>
    </table>
    <a href="#" @click={{send('next')}}>Next</a>
    <button @click={{send('add-person')}}>Add Person</button>
    <dialog ?open="{{adding}}">
      <form @submit={{send('create-person')}}>
        <div>
          <label>First Name</label>
          {{person.firstName}}
          <input name="firstName" .value={{person.firstName}} value="{{person.firstName}}" />
        </div>
        <div>
          <label>Last Name</label>
          <input name="lastName" .value={{person.lastName}} />
        </div>
        <button type="submit">Create Person</button>
      </form>
    </dialog>
  </template>
</live-state>
